@import url('reset.css');
@import url('colores.css');

:root {
    --alturaHeader: 240px;
    --colorPrincipal: #68DABC;
}

header {
    position: relative;
    height: var(--alturaHeader);
    background-image: url('https://tse4.mm.bing.net/th/id/OIP.ncmF-7N2ZEo4wfzxFONoGAExDM?r=0&rs=1&pid=ImgDetMain&o=7&rm=3');
    background-size: cover;
    background-position: center;
}

.buscador {
    display: flex;
    position: absolute;
    bottom: -30px;
    left: 10%;
    height: 60px;
    width: 80%;
    background-color: var(--colorPrincipal);
    border-radius: 30px;
    overflow: hidden;

    input[type="text"] {
        flex: 1;
        height: 100%;
        padding: 0 20px;
    }

    i {
        width: 60px;
        height: 60px;
        display: grid;
        place-items: center;
        background-color: var(--colorPrincipal);
    }

    button {
        width: 60px;
        height: 60px;
        display: grid;
        place-items: center;
        background-color: white;
    }
}

.textoBienvenida {
    position: absolute;
    bottom: 50px;
    width: 90%;
    left: 5%;
    color: white;
    box-shadow: 0 0 15px rgb(218, 218, 218);

}

main {
    min-height: calc(100dvh - var(--alturaHeader));
}

.categorias {
    height: 80px;
    padding-top: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    overflow: auto hidden;
}

.item-cate {
    flex: 0 0 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 16px;
}

.item-cate i {
    color: rgba(0, 0, 0, 0.459);
}

.item-cate span {
    font-size: 12px;
    color: rgba(0, 0, 0, 0.459);
}

.MasElegidos {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 20px;
    font-family: "Open Sans";
    color: rgba(0, 0, 0, 0.548);

    .fa-solid {
        color: rgba(0, 0, 0, 0.548);
        cursor: pointer;
    }

    hr {
        width: 10%;
        background-color: var(--colorPrincipal);
        height: 3px;
    }

}


.item-articulo {
    width: 300px;
    display: flex;
    flex-direction: row;
    .descripcion {
        display: flex;
        flex-direction: column;
        font-size: 12px;
        color: rgba(0, 0, 0, 0.548);
        gap: 5px;
    }

    img {
        width: 100px;
        height: 100px;
        border-radius: 10px;
    }
}